<h1>Imprint</h1>
<p>
  Bostrot Inh. Eric Trenkel<br />
  Kölner Str. 71<br />
  50259 Pulheim<br />
  Germany
</p>
<p>
  Email: <a href="mailto:eric@bostrot.com">eric@bostrot.com</a><br />
  Phone: +49&nbsp;2405&nbsp;4079440
</p>
<p>
  VAT ID (USt-IdNr. gemäß § 27a UStG): DE353552581
</p>

<h2>Liability for content</h2>
<p>
  The contents of this site were created with great care. However, no guarantee can
  be given that the content is correct, complete and up to date. As a service
  provider, I am responsible for my own content on these pages in accordance with
  Section 7 (1) DDG (Digitale-Dienste-Gesetz) under the general laws. According to
  Sections 8 to 10 DDG, however, I am not obliged as a service provider to monitor
  transmitted or stored third-party information or to investigate circumstances
  that indicate illegal activity. Obligations to remove or block the use of information under general
  laws remain unaffected. Any liability in this regard only applies from the point
  in time at which knowledge of a specific violation of the law is obtained. Upon
  notification of such a violation, the content will be removed immediately.
</p>

<h2>Liability for links</h2>
<p>
  This site contains links to external third-party websites over whose content I
  have no influence. Therefore, no liability can be accepted for this third-party
  content. The respective provider or operator of the linked pages is always
  responsible for their content. The linked pages were checked for possible legal
  violations at the time of linking; illegal content was not recognizable at that
  time. Upon notification of violations, such links will be removed immediately.
</p>
